



<h1> Add Amployee </h1>

<form method="post">

    <input type="number" placeholder="Enter New Employee Number" class="form-control" name="employee.empNo" />

    <input type="text" placeholder="Enter New Employee Name" class="form-control" name="employee.empName" />
    
    <input type="text" placeholder="Enter New Employee Designation" class="form-control" name="employee.empDesignation" />

    <input type="number" placeholder="Enter New Employee Salary" class="form-control" name="employee.empSalary" />

    <input type="text" placeholder="Enter New Employee Is Permenant" class="form-control" name="employee.empIsPermenant" />

    <button class="btn btn-primary" type="submit"> Add Employee </button>
</form>