



<form method="post">
    <input type="text" placeholder="Please enter your name" class="form-control" name="guestName" />
<button class="btn btn-primary"> Greet </button>
</form>

<h2>  @ViewBag.message </h2>